Repository sideb0ard/SoundB0ard: changes, and which pre-commit hooks are due for each by the changed paths.
All: cppcheck, check-cpp-includes, check-memory-patterns

cppcheck:
  name: cppcheck
  entry: cppcheck
  language: system
  args:
  - --enable=warning
  - --std=c++20
  - --suppress=missingIncludeSystem
  - --suppress=unusedFunction
  - --suppress=unmatchedSuppression
  - --suppress=normalCheckLevelMaxBranches
  - --error-exitcode=1
  - --inline-suppr
  - --quiet

check-cpp-includes:
  name: check-cpp-includes
  entry: bash
  language: system
  args:
  - -c
  ...

check-memory-patterns:
  name: check-memory-patterns
  entry: bash
  language: system
  args:
  - -c
  ...

White noise generator fix
  src/utils.cpp
Due: cppcheck, check-memory-patterns

punchier bass drum
  src/drum_synth.cpp
  src/drum_synth.h
  src/drum_synth_modules.cpp
  src/drum_synth_modules.h
  src/interpreter/builtins.cpp
Due: cppcheck, check-cpp-includes, check-memory-patterns

disable delay by default on drumsynth
  src/drum_synth.cpp
  src/drum_synth.h
  src/drum_synth_modules.cpp
Due: cppcheck, check-cpp-includes, check-memory-patterns

Amend for loop parser to allow for 'while true' e.g. for(;;)
  src/interpreter/parser.cpp
Due: cppcheck, check-memory-patterns

trax
  settings/dxpresets.dat
Due: none

trax
  SBTraxx/BOUNZ.sb
  SBTraxx/PADZ.sb
  SBTraxx/SnareAlgz.sb
  SBTraxx/TEZLEFUNC.sb
  SBTraxx/lotto.sb
  SBTraxx/willannnWAFF.sb
Due: none

CrossFader bizz
  SBTraxx/AUGUSSS.sb
  SBTraxx/BOUNZ.sb
  src/audio_action_queue.h
  src/interpreter/builtins.cpp
  src/interpreter/object.hpp
  src/mixer.cpp
  src/xfader.cpp
  src/xfader.h
  startup.sb
Due: cppcheck, check-cpp-includes, check-memory-patterns

Sorted funcz function. woo
  SBTraxx/AUGUSSS.sb
  src/interpreter/object.cpp
Due: cppcheck, check-memory-patterns

Mixer Sb names and DrumTrigger env
  .gitignore
  SBTraxx/AUGUSSS.sb
  SBTraxx/lotto.sb
  settings/drumpresets.dat
  src/drum_synth_modules.cpp
  src/drum_synth_modules.h
  src/interpreter/builtins.cpp
  src/interpreter/object.cpp
  src/interpreter/object.hpp
  src/mixer.cpp
  src/xfader.cpp
  src/xfader.h
Due: cppcheck, check-cpp-includes, check-memory-patterns

Add basic drum kit to repo
  .gitignore
  SBTraxx/NUBEAT.sb
  SBTraxx/XF.sb
  wavs/bd/808kick.aif
  wavs/bd/kick2.aif
  wavs/bd/kick8.aif
  wavs/ch/2hat.aif
  wavs/ch/wuhh184.aif
  wavs/cp/clap17.aif
  wavs/cp/clap25.aif
  wavs/ht/DR660808HighTom.aif
  wavs/lt/DR660LoTom.aif
  wavs/lt/DR660LowestTom.aif
  wavs/mt/Tom_Mid_B_808_C.wav
  wavs/oh/dmx_hh_open.aif
  wavs/perc/808clave.aif
  wavs/perc/808cowbell.aiff
  wavs/perc/chezShaker.aiff
  wavs/perc/tuffShaker.aiff
  wavs/sd/2snare.aif
  wavs/sd/wusn113.aif
Due: none

Hopefully fix linux white_noise bug
  src/utils.cpp
Due: cppcheck, check-memory-patterns

readme
  README.md
  SBERRZ.txt
Due: none

Add default drum kit
  src/interpreter/builtins.cpp
  startup.sb
Due: cppcheck, check-memory-patterns

Extend default drum kit
  .gitignore
  src/interpreter/builtins.cpp
Due: cppcheck, check-memory-patterns

Extend default drum kit
  wavs/ch/Hihat0002.aif
  wavs/rims/rim1.aif
Due: none

my changes
  SBTraxx/AUGUSSS.sb
  src/defjams.h
  src/event_queue.h
  src/interpreter/ast.cpp
  src/interpreter/ast.hpp
  src/interpreter/evaluator.cpp
  src/interpreter/evaluator.hpp
  src/interpreter/parser.cpp
  src/main.cpp
  src/process.cpp
  src/process.hpp
  startup.sb
Due: cppcheck, check-cpp-includes, check-memory-patterns

welp, compiles and runs so far.
  SBTraxx/FRENCHKISS.sb
  src/interpreter/parser.cpp
  src/main.cpp
  src/pattern_functions.cpp
  src/process.cpp
  src/process.hpp
  startup.sb
Due: cppcheck, check-cpp-includes, check-memory-patterns

...
  startup.sb
Due: none

mo code cleanup
  SBTraxx/808STATE.sb
  SBTraxx/BELTRAM.sb
  src/dxsynth.cpp
  src/midimaaan.cpp
  src/minisynth.cpp
  src/mixer.cpp
  src/utils.cpp
  src/utils.h
Due: cppcheck, check-cpp-includes, check-memory-patterns

some more thread safety - thanks to claude
  SBTraxx/808STATE.sb
  src/interpreter/evaluator.cpp
  src/mixer.cpp
  src/mixer.h
  src/process.cpp
  src/soundgenerator.cpp
  src/soundgenerator.h
Due: cppcheck, check-cpp-includes, check-memory-patterns

trax cjhanges
  SBTraxx/808STATE.sb
  SBTraxx/AUGUSSS.sb
  SBTraxx/BELTRAM.sb
  SBTraxx/FRENCHKISS.sb
  SBTraxx/XF.sb
Due: none

Update tests with Claude.ai
  .pre-commit-config.yaml
  CMakeLists.txt
  tests/evaluator_test.cpp
  tests/lexer_test.cpp
  tests/object_test.cpp
  tests/ramp_test.cpp
  tests/test_globals.cpp
Due: cppcheck, check-memory-patterns

linux fixes
  src/interpreter/ast.cpp
  src/main.cpp
Due: cppcheck, check-memory-patterns

refactor/rename generator to computation
  src/interpreter/ast.cpp
  src/interpreter/ast.hpp
  src/interpreter/evaluator.cpp
  src/interpreter/evaluator.hpp
  src/interpreter/object.cpp
  src/interpreter/object.hpp
  src/interpreter/parser.cpp
  src/interpreter/parser.hpp
  src/interpreter/token.cpp
  src/interpreter/token.hpp
  src/process.cpp
  startup.sb
Due: cppcheck, check-cpp-includes, check-memory-patterns

Refactor binary into sbsh_lib for main and tests. Also add ccache to CMakefile
  CMakeLists.txt
  SBTraxx/BELTRAM.sb
  src/interpreter/object.cpp
Due: cppcheck, check-memory-patterns

caching ps output to remove locks
  src/mixer.cpp
  src/mixer.h
Due: cppcheck, check-cpp-includes, check-memory-patterns

trax backup
  SBTraxx/808STATE.sb
  SBTraxx/FELLZ.sb
  SBTraxx/FRENCHKISS.sb
  SBTraxx/compassionCOMP.sb
  SBTraxx/lotto.sb
  settings/dxpresets.dat
  startup.sb
Due: none

First version of Nnirror audio blur
  SBTraxx/YASSS.sb
  src/fx/README
  src/fx/fx.h
  src/fx/nnirror.cpp
  src/fx/nnirror.h
  src/interpreter/sound_cmds.cpp
Due: cppcheck, check-cpp-includes, check-memory-patterns

v2 of Nnirror audio blur FX
  SBTraxx/YASSS.sb
  src/fx/nnirror.cpp
  src/fx/nnirror.h
Due: cppcheck, check-cpp-includes, check-memory-patterns

FX fixes, and new Nnirror blur fx
  SBTraxx/YASSS.sb
  settings/drumpresets.dat
  src/fx/dynamics_processor.cpp
  src/fx/nnirror.cpp
  src/fx/nnirror.h
  src/granulator.cpp
Due: cppcheck, check-cpp-includes, check-memory-patterns

Lots of FX cleanup and status tidy
  src/fx/dynamics_processor.cpp
  src/fx/nnirror.cpp
  src/fx/reverb.cpp
  src/fx/stereodelay.cpp
  src/fx/transverb.cpp
  src/granulator.cpp
  src/mixer.cpp
Due: cppcheck, check-memory-patterns

fx fixes for mod delay and mod filter
  src/fx/ddlmodule.cpp
  src/fx/ddlmodule.h
  src/fx/modfilter.cpp
  src/fx/modfilter.h
  src/fx/modular_delay.cpp
  src/fx/modular_delay.h
  src/mixer.h
Due: cppcheck, check-cpp-includes, check-memory-patterns

o fx updates
  src/fx/modfilter.cpp
  src/fx/modular_delay.cpp
  src/fx/transverb.cpp
  src/fx/transverb.h
Due: cppcheck, check-cpp-includes, check-memory-patterns

Geometer FX
  SBTraxx/GNOMMM.sb
  src/fx/fx.h
  src/fx/geometer.cpp
  src/fx/geometer.h
  src/interpreter/sound_cmds.cpp
Due: cppcheck, check-cpp-includes, check-memory-patterns

Improved Q on the DrumSynth
  src/AudioPlatform.cpp
  src/AudioPlatform.hpp
  src/drum_synth.cpp
  src/filters/filter_ckthreefive.cpp
  src/filters/filter_ckthreefive.h
  src/fx/nnirror.cpp
Due: cppcheck, check-cpp-includes, check-memory-patterns

bakcup
  settings/drumpresets.dat
  settings/dxpresets.dat
  settings/moogpresets.dat
  src/drum_synth.cpp
  src/drum_synth.h
  src/fx/nnirror.cpp
Due: cppcheck, check-cpp-includes, check-memory-patterns

trax
  SBTraxx/jaydee.sb
  SBTraxx/larryheard.sb
  SBTraxx/v3.sb
Due: none

track bakcupsz
  DRUMSETTINGZ.txt
  SBTraxx/larryheard.sb
  SBTraxx/technotronic.sb
  SBTraxx/v3.sb
  settings/drumpresets.dat
  settings/moogpresets.dat
  src/fx/nnirror.cpp
  startup.sb
Due: cppcheck, check-memory-patterns

backup
  SBTraxx/v3.sb
  settings/drumpresets.dat
  settings/dxpresets.dat
Due: none

Path conditions:
  cppcheck: any of: \.(cpp|c)$
  check-cpp-includes: any of: \.(h|hpp)$
  check-memory-patterns: any of: \.(cpp|c)$
