Repository sideb0ard/SoundB0ard: changes, and which pre-commit hooks are due for each by the changed paths.
All: cppcheck, check-cpp-includes, check-memory-patterns

Path conditions:
  cppcheck: any of: \.(cpp|c)$
  check-cpp-includes: any of: \.(h|hpp)$
  check-memory-patterns: any of: \.(cpp|c)$

LOG vol + v3 backup
  SBTraxx/v3.sb
  src/mixer.cpp
  src/mixer.h
Due: cppcheck, check-cpp-includes, check-memory-patterns

WIP v3
  SBTraxx/v3.sb
Due: none

Claude Autechre beat
  SBTraxx/AUTECHRE_CRUNCH.sb
  SBTraxx/v3.sb
  settings/drumpresets.dat
  src/drum_synth.h
  src/drumsampler.cpp
  src/drumsampler.h
  src/filebuffer.cpp
  src/filebuffer.h
  src/granulator.cpp
  src/interpreter/evaluator.cpp
Due: cppcheck, check-cpp-includes, check-memory-patterns

bakcup trax
  SBTraxx/AUTECHRE_CRUNCH.sb
  SBTraxx/v3.sb
Due: none

drum improvments and song backup
  SBTraxx/v3.sb
  settings/drumpresets.dat
  src/drum_synth.cpp
  src/drum_synth.h
  src/drum_synth_modules.cpp
  src/drum_synth_modules.h
Due: cppcheck, check-cpp-includes, check-memory-patterns

Help function and inline comments
  settings/drumpresets.dat
  src/filereader.cpp
  src/interpreter/builtins.cpp
  src/interpreter/evaluator.cpp
  src/interpreter/token.cpp
  src/interpreter/token.hpp
Due: cppcheck, check-cpp-includes, check-memory-patterns

FX refactor
  FX_REFERENCE.md
  SBTraxx/AUTECHRE_808.sb
  SBTraxx/DILLA_DRUNK_SWING.sb
  SBTraxx/PREMIER_BOOM_BAP.sb
  USER_GUIDE.md
  src/filebuffer.h
  src/fx/bitcrush.cpp
  src/fx/bitcrush.h
  src/fx/decimate.cpp
  src/fx/decimate.h
  src/fx/diffuser.cpp
  src/fx/diffuser.h
  src/fx/distortion.cpp
  src/fx/distortion.h
  src/fx/fx.h
  src/fx/lofi_crusher.cpp
  src/fx/lofi_crusher.h
  src/fx/waveform_sculptor.cpp
  src/fx/waveform_sculptor.h
  src/help.cpp
  src/interpreter/parser.cpp
  src/interpreter/sound_cmds.cpp
  src/process.cpp
  src/soundgenerator.cpp
Due: cppcheck, check-cpp-includes, check-memory-patterns

Init function for file monitors
  src/cmdloop.cpp
  src/interpreter/ast.hpp
  src/interpreter/evaluator.cpp
  src/interpreter/parser.cpp
  src/interpreter/token.cpp
  src/interpreter/token.hpp
  src/mixer.cpp
  src/mixer.h
  startup.sb
Due: cppcheck, check-cpp-includes, check-memory-patterns

Consolidate help functions and convert help() from built-in to keyword
  src/help.cpp
  src/interpreter/ast.hpp
  src/interpreter/builtins.cpp
  src/interpreter/builtins.hpp
  src/interpreter/evaluator.cpp
  src/interpreter/parser.cpp
  src/interpreter/parser.hpp
  src/interpreter/token.cpp
  src/interpreter/token.hpp
Due: cppcheck, check-cpp-includes, check-memory-patterns

Refactor/rename DXSynth to FMSynth
  README.md
  USER_GUIDE.md
  settings/dxpresets.dat
  src/defjams.h
  src/drum_synth.h
  src/fmsynth.cpp
  src/fmsynth.h
  src/fmsynth_voice.cpp
  src/fmsynth_voice.h
  src/help.cpp
  src/interpreter/builtins.cpp
  src/interpreter/evaluator.cpp
  src/interpreter/object.cpp
  src/interpreter/token.cpp
  src/midimaaan.cpp
  src/mixer.cpp
  src/mixer.h
  src/soundgenerator.cpp
  src/soundgenerator.h
  src/synthfunctions.cpp
  src/utils.cpp
Due: cppcheck, check-cpp-includes, check-memory-patterns

Refactor/rename DXSynth to FMSynth
  settings/fmpresets.dat
Due: none

refactor drum mappings
  SBTraxx/AUGUSSS.sb
  SBTraxx/AUTECHRE_808.sb
  SBTraxx/BEAT12.sb
  SBTraxx/DILLA_DRUNK_SWING.sb
  SBTraxx/NEWShIT1.sb
  SBTraxx/PADZ.sb
  SBTraxx/PREMIER_BOOM_BAP.sb
  SBTraxx/YASSS.sb
  SBTraxx/grrooovv.sb
  SBTraxx/jaydee.sb
  SBTraxx/v3.sb
  SBTraxx/willannnWAFF.sb
  USER_GUIDE.md
  settings/drumpresets.dat
  src/drum_synth.cpp
Due: cppcheck, check-memory-patterns
